body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  height: 781px;

  background-color: #7f53ac;
  background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
}

.game {
  display: flex;
  margin: auto;
  width: 400px;
  padding: 100px 0px 0px 105px;
  flex-wrap: wrap;
}
.game div {
  height: 110px;
  width: 100px;
  background-color: #000;
  border: 1px solid white;
  transition: 0.3s;
  color: wheat;
  font-size: 50px;
  justify-content: center;
  display: flex;
  align-items: center;
}
.game div:hover {
  background-color: rgb(26, 25, 25);
}
h1 {
  margin-top: 0px;
  padding-top: 50px;
  text-align: center;
}
h2 {
  text-align: center;
}
#restart {
  margin: auto;
  height: 28px;
  width: 110px;
  background-color: black;
  border-radius: 5px;
  /* border: 1px solid red; */
  cursor: pointer;
  text-align: center;
  padding: 10px 0 0 0;
  color: #ffffff;
  text-transform: capitalize;
  letter-spacing: 0.8px;
}
