body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}
.top-header {
  box-shadow: 5px 2.5px 10px grey;
  height: 80px;
  position: relative;
}
.myname {
  font-size: 25px;
  padding: 25px 0px 0px 50px;
}
.offical-web {
  color: black;
  text-decoration: none;
  display: flex;
  right: 80px;
  top: 30px;
  position: absolute;
  font-size: 16;
}
.dubai-staring-image {
  width: 100%;
  height: 584px;
}
.on-image-text {
  position: absolute;
  top: 340px;
  left: 43%;
  font-size: 3rem;
  font-weight: 50;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.tagline {
  position: absolute;
  top: 400px;
  left: 44.2%;
  font-size: 1.3rem;
  font-weight: 50;
}
.tower-top-10 {
  text-align: center;
  padding-top: 100px;
  font-size: 30px;
}
.about-bulinding {
  padding-left: 296px;
  padding-right: 293px;
  font-size: 20px;
}
.on-text {
  position: absolute;
  top: 1100px;
  left: 555px;
  font-size: 3rem;
  font-weight: 50;
  font-family: Impact, "Arial Narrow Bold", sans-serif;
}
.dubai-secoond-image {
  padding-top: 300px;
  padding-left: 100px;
}
.dubai-paragraph {
  position: absolute;
  top: 1300px;
  padding-left: 599px;
  padding-right: 99px;
  font-size: 20px;
}
.on-sec-text {
  position: absolute;
  top: 1700px;
  left: 555px;
  font-size: 3rem;
  font-weight: 50;
  font-family: Impact, "Arial Narrow Bold", sans-serif;
}
.in-text-sec {
  position: absolute;
  top: 1900px;
  right: 100px;
}
.shangi-paragraph {
  position: absolute;
  top: 1950px;
  padding-left: 100px;
  padding-right: 599px;
  font-size: 20px;
}
.on-thi-text {
  position: absolute;
  top: 2400px;
  left: 362px;
  font-size: 3rem;
  font-weight: 50;
  font-family: Impact, "Arial Narrow Bold", sans-serif;
}
.in-text-thi {
  position: absolute;
  top: 2600px;
  left: 100px;
}
.makkah-paragraph {
  position: absolute;
  top: 2650px;
  padding-left: 599px;
  padding-right: 99px;
  font-size: 20px;
}
.on-four-text {
  position: absolute;
  top: 3041px;
  left: 444px;
  font-size: 3rem;
  font-weight: 50;
  font-family: Impact, "Arial Narrow Bold", sans-serif;
}
.in-text-four {
  position: absolute;
  top: 3220px;
  right: 100px;
}
.center-paragraph {
  position: absolute;
  top: 3250px;
  padding-left: 100px;
  padding-right: 599px;
  font-size: 20px;
}
.last {
  background-color: #24292e;
  justify-content: center;
  align-items: center;
}
.written {
  font-size: 60px;
  text-align: center;
  margin: 0;
  color: wheat;
}

.line {
  color: #be3144;
}
.lastsentence {
  text-align: center;
  font-size: 20px;
  color: #d0d1d2;
  padding-right: 20px;
}
.tag {
  text-align: center;
  color: #d1d2d4;
}

.box {
  margin-bottom: 30px;
}
.boxheading {
  background-color: #000000;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}
.boxheading a {
  text-decoration: none;
  color: #ffffff;
}

.code {
  color: #000000;
  transition: color 0.5s ease-in-out;
}

.boxheading:hover .code {
  color: orangered;
}
.socialicon:hover {
  transition: padding 0.5s linear;
  padding-top: 40px;
}

.socialicon i {
  margin-left: 5px;
}
.ongoing:hover {
  transition: padding 0.5s linear;
  padding-top: 40px;
}
.socialmedia div {
  color: #ffffff;
  font-size: 25px;
  width: 451px;
  margin: auto;
  /* width: 800px; */
  /* margin-left: 250px; */
}
.socialmedia a {
  font-size: 24px;
  transition: 0.3s ease-in-out;
  color: white;
  text-decoration: none;
  float: left;
  display: block;
  padding-left: 20px;
}
.ongoing i {
  margin-left: 5px;
}
.nav-icon {
  display: none;
}
.flex-nav-mobile {
  display: none;
}
.flex-nav {
  padding-top: 16px;
}
.high {
  position: absolute;
  top: 3700px;
  width: 100%;
}
.hr {
  margin: 21px;
}
