body {
  margin: 0;
}
.filtershot {
  background-color: blueviolet;
}
.flex-container {
  background-color: tomato;
  height: 50px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}
.logo {
  padding: 16px;
  color: white;
  font-size: 20px;
}
nav a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  margin-left: 20px;
  height: 82%;
  padding-top: 19px;
  padding-left: 10px;
  padding-right: 10px;
}
.flex-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
nav a:hover {
  background-color: teal;
}
.flex-hero {
  background-image: url("image/5.jpg");
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  color: #ffffff;
}
.flex-hero div {
  text-align: center;
}
.flex-hero h1 {
  font-size: 40px;
  color: black;
  margin: 0;
}
.flex-hero .tagline {
  font-size: 17px;
  color: green;
}
.photos {
  background-color: #45567d;
}
.photos h4 {
  font-size: 40px;
  text-align: center;
  text-decoration: underline;
  margin: 0%;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  /* width: 900px; */
  margin: auto;
  justify-content: space-around;
}
.gallery img {
  width: 400px;
  margin-bottom: 30px;
}
.showall {
  text-align: center;
}
.showall button {
  background-color: #303841;
  padding: 12px;
  color: white;
  font-size: 17px;
  border-radius: 5px;
  border: 1px solid #303841;
  font-weight: bold;
  width: 150px;
}
.showall button:hover {
  background-color: #be3144;
}
.last {
  background-color: #24292e;
  height: 400px;
  justify-content: center;
  align-items: center;
}
.written {
  font-size: 60px;
  text-align: center;
  margin: 0;
  color: wheat;
}
.facebook {
  color: #ffffff;
  font-size: 25px;
  text-align: center;
  word-spacing: 10px;
  transition: ease-in-out;
}
.line {
  color: #be3144;
}
.lasttext {
  text-align: initial;
  font-size: 20px;
  color: #d0d1d2;
  display: flex;
  justify-content: space-between;
}
.lastsentence {
  text-align: right;
  font-size: 20px;
  color: #d0d1d2;
}
.tag {
  text-align: center;
  color: #d1d2d4;
}
.social_links {
  text-align: center;
  transition: width 2s, height 4s;
}
.social_links span a {
  color: #ffffff;
  font-size: 22px;
  margin-right: 20px;
}

.social_links span a:hover {
  margin-top: 20px;
}
