body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.filtershot {
  background-color: royalblue;
}
.flex-container {
  background-color: #be3144;
  height: 50px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  background-position: fixed;
}
.logo {
  padding: 10px;
  color: white;
  font-size: 20px;
}
nav a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  margin-left: 20px;
  height: 82%;
  padding-top: 19px;
  padding-left: 10px;
  padding-right: 10px;
}
.flex-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  font-family: "Roboto", sans-serif;
}
nav a:hover {
  background-color: #627194;
}
.flex-hero {
  background-color: #24292e;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  color: #ffffff;
}
.flex-hero div {
  text-align: center;
}
.flex-hero h1 {
  font-size: 4rem;
  color: #ffffff;
  margin: 0;
  font-weight: 100;
}
.flex-hero .tagline {
  font-size: 25px;
  color: #be3144;
}
.photos {
  background-color: #45567d;
}
.photos h4 {
  font-size: 40px;
  text-align: center;
  text-decoration: underline;
  margin: 0%;
  color: #ffffff;
  padding: 10rem;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  /* width: 900px; */
  margin: auto;
  justify-content: space-around;
}
.gallery img {
  width: 400px;
  display: block;
}
.showall {
  text-align: center;
}
.showall button {
  background-color: #000000;
  padding: 12px;
  color: white;
  font-size: 17px;
  border-radius: 10px;
  border: 1px solid #303841;
  font-weight: bold;
  width: 150px;
}
.showall button:hover {
  background-color: red;
}
.showall button:hover span {
  background-color: red;
  padding-left: 13px;
  transition: padding 0.6s ease-in-out;
}

.last {
  background-color: #24292e;
  justify-content: center;
  align-items: center;
}
.written {
  font-size: 60px;
  text-align: center;
  margin: 0;
  color: wheat;
}

.line {
  color: #be3144;
}
.lastsentence {
  text-align: center;
  font-size: 20px;
  color: #d0d1d2;
  padding-right: 20px;
}
.tag {
  text-align: center;
  color: #d1d2d4;
}
.social_links {
  text-align: center;
}
.social_links span a {
  color: #ffffff;
  font-size: 22px;
  margin-right: 20px;
}

.social_links span a:hover {
  margin-top: 20px;
}
.box {
  margin-bottom: 30px;
}
.boxheading {
  background-color: #000000;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}
.boxheading a {
  text-decoration: none;
  color: #ffffff;
}

.code {
  color: #000000;
  transition: color 0.5s ease-in-out;
}

.boxheading:hover .code {
  color: brown;
}
.socialicon:hover {
  transition: padding 0.5s linear;
  padding-top: 40px;
}
.socialmedia div {
  color: #ffffff;
  font-size: 25px;
  width: 800px;
  margin: auto;
}
.socialmedia a {
  display: block;
  float: left;
  margin-left: 30px;
}
.socialicon i {
  margin-left: 5px;
}
