body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-image: url("https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg");
  background-color: purple;
  background-blend-mode: soft-light;
  background-position: fixed;
}
.form-container {
  width: 700px;
  background-color: rgb(41, 41, 73);
  margin: auto;
  box-sizing: border-box;
  padding: 30px;
}

.desine {
  font-size: 40pxpx;
  display: flexbox;
  color: azure;
}
.label {
  color: azure;
}
.form-field {
  color: azure;
}
.form-field input {
  width: 350px;
  height: 20px;
}
.sumbit {
  background-color: #37af65;
  padding: 12px;
  color: white;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid #303841;
  font-weight: bold;
  width: 100%;
}
.input-radio,
.input-checkbox {
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}

.heading h1 {
  margin-top: 50px;
  margin-bottom: 0;
  color: #ffffff;
  font-size: 40px;
}

.heading span {
  color: #ffffff;
  font-style: italic;
}

.heading {
  margin-bottom: 40px;

  text-align: center;
}

.form-container input[type="text"],
.form-container input[type="number"],
.form-container input[type="email"] {
  height: 40px;
  width: 100%;
  border-radius: 10px;
  padding: 5px;
  font-size: 16px;
}
.input-checkbox {
  ruby-overhang: start;
}
.text {
  text-align: center;
  resize: vertical;
}
