.car {
  width: 550px;
  position: relative;
}

.wheel {
  border: 5px solid #000000;
  height: 170px;
  width: 170px;
  background-color: #000000;
  border-radius: 50%;
  justify-content: space-between;
  margin-left: 250px;
}
.wheeles {
  border: 5px solid #000000;
  height: 170px;
  width: 170px;
  background-color: #000000;
  border-radius: 50%;
  justify-content: space-between;
}
.wheel-con {
  border: 5px solid #847e82;
  height: 100px;
  margin: 30px;
  width: 100px;
  background-color: #847e82;
  border-radius: 50%;
}
.wheel-container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 400px;
  margin-top: 125px;
}
.rock {
  border: 30px solid teal;
  height: 200px;
  width: 800px;
  background-color: teal;
  border-radius: 35%;
  margin-left: 250px;
  position: absolute;
}
.top {
  border: 4px solid grey;
  height: 380px;
  width: 250px;
  position: absolute;
  border-radius: 10%;
  left: 577px;
  z-index: 1;
  top: -167px;
}
.roof {
  border: 30px solid teal;
  height: 200px;
  width: 450px;
  background-color: teal;
  border-radius: 35%;
  position: absolute;
  top: -170px;
  margin-left: 450px;
}
.window {
  border: 5px solid #ffffff;
  height: 170px;
  width: 230px;
  background-color: #ffffff;
  margin: 5px;
  border-radius: 15%;
}
.windowes {
  border: 5px solid #ffffff;
  height: 150px;
  width: 90px;
  background-color: #ffffff;
  border-top-left-radius: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  position: absolute;
  left: -20px;
  top: -5px;
}
.short {
  border: 5px solid #ffffff;
  height: 150px;
  width: 90px;
  background-color: #ffffff;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  position: absolute;
  left: 366px;
  top: -5px;
}
.flight {
  border: 1px solid orange;
  height: 55px;
  width: 15px;
  position: absolute;
  background-color: orange;
  border-radius: 10px;
  left: 235px;
  top: 115px;
}
.blight {
  border: 1px solid gray;
  height: 55px;
  width: 15px;
  position: absolute;
  background-color: gray;
  border-radius: 10px;
  right: -575px;
  top: 115px;
}
