body {
  margin: 0;
  background-color: #cccccc;
}
.title {
  height: 65px;
  font-size: 45px;
  font-style: italic;
}
.flex-container {
  height: 50px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  background-position: fixed;
  font-family: "Poppins", sans-serif;
  padding: 10px;
  background-color: #ffffff;
}
nav a {
  text-decoration: none;
  font-size: 20px;
  color: black;
  margin-left: 20px;
  height: 82%;
  padding-top: 19px;
  padding-left: 10px;
  padding-right: 10px;
}
.flex-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.starting {
  background-color: #007bd5;
  height: 300px;
  text-align: center;
  padding-top: 70px;
}
.tag h1 {
  color: #ffffff;
  font-size: 40px;
  font-weight: 300;
}
.tag span {
  font-size: 30px;
  color: #ffffff;
  font-weight: 300;
}
.boxes {
  height: 50px;
  width: 500px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}
.sumbit {
  height: 55px;
  background-color: #ee1133;
  color: #ffffff;
  border: none;
}
.image {
  display: flexbox;
  height: 100px;
  width: 100px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.box {
  width: 30%;
  background-color: #ffffff;
  margin: 20px;
}
.tagline {
  font-size: 1.75rem;
  padding: 12px;
}
.image {
  padding: 12px;
}
.tagline span {
  font-size: 20px;
}
.box hr {
  color: #cccccc;
}
.links {
  margin-left: 10px;
}
.links a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  background-color: #ee1133;
  margin: 0;
  padding: 0.5em 1em;
}
