body {
  font-family: -sans-serif-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0;
}
.header {
  width: 100%;
  height: 74px;
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  justify-content: space-between;
}
.link img {
  margin-left: 40px;
  /* width: 227px; */
  margin-top: 10px;
}

.form-control {
  font-size: 16px;
  border: 2px solid purple;
  width: 120px;
  height: 40px;
  margin-top: 20px;
  padding-left: 15px;
  border-radius: 10px;
  margin-right: 100px;
  color: purple;
}

.text {
  text-align: center;
  padding-top: 30px;
  font-size: 17px;
  font-family: "Roboto", sans-serif;
}
.doctor-name {
  text-align: center;
}
.doctor-name h1 {
  font-size: 25px;
  color: #000;
  margin-top: 3px;
}
.tag {
  text-align: center;
  margin-top: -14px;
}
.logo img {
  border-radius: 32px;
  padding: 10px;
}
.image-border {
  height: 130px;
  width: 100px;
  border: 1px solid #eeeeee;
  border-radius: 50%;
  margin: auto;
  margin-top: 18px;
}
.details {
  width: 100%;
  height: 365px;
  background-color: #f7f7f7;
  margin-top: -43px;
  padding-top: 1px;
}
.doctor-detail {
  height: 260px;
  width: 1038px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 31px;
  margin: 31px auto;
}
.tagline {
  text-align: center;
  padding-top: 16px;
  font-size: 21px;
  /* font-weight: 600; */
  color: #575757;
}
.about {
  display: flex;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
}
.gender {
  font-size: 13px;
  padding-left: 15px;
  padding-top: 10px;
}
.specialty {
  font-size: 13px;
  padding-right: 15px;
  padding-top: 10px;
}
.male {
  display: flex;
  justify-content: space-between;
  padding-top: 7px;
  font-family: "Roboto", sans-serif;
}
.your-gender {
  padding-left: 15px;
}
.your-specialty {
  padding-right: 15px;
}
.gender-2 {
  font-size: 13px;
  padding-left: 15px;
  padding-top: 70px;
}
.specialty-2 {
  font-size: 13px;
  padding-right: 15px;
  padding-top: 70px;
}
.button {
  border: 1px solid #772386;
  border-radius: 10px;
  height: 35px;
  width: 81%;
  background-color: #772386;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin: auto;
  padding-top: 12px;
  transition: 0.5s;
}
.button:hover {
  background-color: #e18e00;
  border: 1px solid #e18e00;
}
.link-next {
  color: #fff;
  font-size: 16px;
}
.button i {
  padding-left: 5px;
  font-size: 16px;
}
.purple a {
  text-decoration: none;
}

@media (max-width: 800px) {
  .link img {
    margin-left: 5px;
    margin-top: 12px;
  }
  .form-control {
    font-size: 14px;
    margin-right: 30px;
    width: 90px;
    margin-right: 0px;
  }
  .text {
    font-size: 28px;
  }
  .doctor-detail {
    width: 361px;
  }
  .button {
    width: 89%;
  }
}
