body {
  margin: 0;
}
.whole {
  display: flex;
  flex-wrap: wrap;
}
.image {
  width: 750px;
  background-image: url(https://as1.ftcdn.net/jpg/01/13/63/82/500_F_113638213_3qT7Qun7u1l9rtsdSEZhY3CeDsc1rJNk.jpg);
  background-color: red;
  background-blend-mode: lighten;
  background-size: cover;
}
.image2 img {
  height: 689px;
}
.image h1 {
  text-align: center;
  padding-top: 20px;
  color: black;
  font-size: 40px;
}
.tag {
  padding: 50px;
  font-size: 22px;
  padding-top: 100px;
}
@media (max-width: 900px) {
  .image2 img {
    height: 478px;
  }
  .image {
    width: 5000px;
    background-size: none;
  }
  .tag {
    padding: 10px;
  }
  .whole {
    border: 1px solid black;
  }
}
