body {
  margin: 0;
}
.whole {
  display: flex;
  flex-wrap: wrap;
}
.image {
  width: 755px;
  background-color: aliceblue;
}
.image2 img {
  height: 689px;
}
.image h1 {
  text-align: center;
  padding-top: 20px;
  color: black;
  font-size: 40px;
}
.tag {
  padding: 50px;
  font-size: 22px;
  padding-top: 100px;
}
@media (max-width: 900px) {
  .image2 img {
    height: 478px;
  }
  .image {
    width: 5000px;
    background-size: none;
  }
  .tag {
    padding: 10px;
  }
  .whole {
    border: 1px solid black;
  }
}
