body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  min-width: auto;
}
.header {
  height: 50px;
  display: flex;
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 1000;
  border-top: 3px solid #f48024;
}
.logo {
  height: 60px;
}
.logo img {
  height: 37px;
  width: 160px;
  margin: 3px 0 0 78px;
}
.logo :hover {
  background-color: grey;
}
.image {
  background-color: #ffcf10;
  background-image: url(https://cdn.sstatic.net/Img/home/illo-hero-full.svg?v=e2018a5f9272);
  background-position: top center;
  height: 490px;
  width: 100%;
}
nav {
  margin-top: 16px;
}
.navigation nav a {
  color: #000;
  text-decoration: none;
  padding: 10px 10px 10px 10px;
  font-size: 14px;
}
.image1 img {
  display: none;
}
#box {
  font-size: 14px;
  color: gray;
  margin: 8px 10px 10px 10px;
  height: 29px;
  width: 44%;
}
.icon i {
  display: none;
}
.button button {
  height: 35px;
  width: 77px;
  margin: 7px 10px 10px 10px;
}
.button button:hover {
  background-color: #e1ecf4;
  border: 1px solid #000;
  border-radius: 3px;
}
#bu {
  height: 35px;
  width: 77px;
  margin: 7px 10px 10px 10px;
  background-color: #0077cc;
  color: white;
  border: 1px solid #000;
}
#bu:hover {
  background-color: #e1ecf4;
  color: #000;
  border: 1px solid #000;
  border-radius: 3px;
}
.image2 {
  display: none;
}
#input {
  display: none;
}
.background img {
  display: none;
}
.tagline {
  font-size: 54px;
  font-weight: 700;
  text-align: center;
  opacity: 0.9;
  padding-top: 150px;
}
.tag {
  font-family: "Roboto", sans-serif;
  text-align: center;
  width: 434px;
  font-size: 21px;
  padding-left: 32%;
  padding-top: 24px;
}
.buttons {
  margin-top: 28px;
  display: flex;
  justify-content: center;
}
#firstbutton {
  color: orangered;
  background-color: white;
  border: 1px solid orangered;
  text-decoration: none;
  font-size: 14px;
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 20px;
}
#secondbutton {
  text-decoration: none;
  font-size: 14px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 4px;
  color: white;
  background-color: orangered;
  border: 1px solid orangered;
}
.headline {
  margin-top: 74px;
  text-align: center;
}
.headline h1 {
  font-size: 34px;
  opacity: 0.9;
}
.line {
  height: 8px;
  width: 65px;
  border-radius: 15px;
  margin: auto;
  background-color: orangered;
}
.line-tag {
  font-size: 16px;
  text-align: center;
  color: black;
  opacity: 0.9;
  margin-top: 10px;
}
.boxes {
  height: 450px;
  width: 330px;
  margin-left: 120px;
  margin-top: 130px;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.boxes:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.boxes img {
  padding-left: 110px;
  padding-top: 40px;
}
.boxes h5 {
  font-size: 20px;
  text-align: center;
}
.tagline-inbox {
  font-size: 15px;
  margin-top: 5px;
  text-align: center;
}
.browse-1 {
  height: 30px;
  width: 150px;
  background-color: darkblue;
  border-radius: 3px;
  margin: 20px auto;
  padding-top: 15px;
  text-align: center;
}
.browse-1 a {
  text-decoration: none;
  color: #fff;
}
.boxes-2 {
  height: 450px;
  width: 330px;
  margin-left: 66px;
  margin-top: 37px;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.boxes-2:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.boxes-2 img {
  padding-left: 110px;
  padding-top: 40px;
}
.boxes-2 h5 {
  font-size: 20px;
  text-align: center;
}
.tagline-inbox-2 {
  font-size: 15px;
  margin-top: 5px;
  text-align: center;
}
.browse-2 {
  height: 30px;
  width: 150px;
  background-color: orange;
  border-radius: 3px;
  margin: 20px auto;
  padding-top: 15px;
  text-align: center;
}
.browse-2 a {
  text-decoration: none;
  color: #fff;
}
.boxes-3 {
  height: 450px;
  width: 330px;
  margin-left: 66px;
  margin-top: 130px;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.boxes-3:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.boxes-3 img {
  padding-left: 110px;
  padding-top: 40px;
}
.boxes-3 h5 {
  font-size: 20px;
  text-align: center;
}
.tagline-inbox-3 {
  font-size: 15px;
  margin-top: 5px;
  text-align: center;
}
.browse-3 {
  height: 30px;
  width: 150px;
  background-color: darkblue;
  border-radius: 3px;
  margin: 20px auto;
  padding-top: 15px;
  text-align: center;
}
.browse-3 a {
  text-decoration: none;
  color: #fff;
}
#section {
  display: flex;
}
.third-part {
  background-color: #f7f6f9;
  height: 650px;
  width: 100%;
  margin-top: 80px;
}
.headline-2 {
  text-align: center;
}
.headline-2 h1 {
  font-size: 34px;
  padding-top: 150px;
  opacity: 0.9;
}
.line-tag-2 {
  text-align: center;
}
.line-2 {
  height: 10px;
  width: 65px;
  border-radius: 15px;
  margin: auto;
  background-color: orangered;
  margin-top: 10px;
  margin-bottom: 20px;
}
.inner-box {
  height: 160px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  display: flex;
}
.parent-of-box {
  display: flex;
  justify-content: space-between;
  /* margin-top: 60px; */
  width: 86%;
  margin: 30px auto;
}
.inner-box img {
  margin-left: 5%;
  margin-top: 0%;
  margin-right: 10px;
}
.text-box-1 {
  margin: auto 10px auto auto;
}
.text-box-1 span {
  color: orange;
}
.fourth-part {
  background-color: darkslateblue;
  height: 1250px;
  width: 100%;
  background-image: url(https://cdn.sstatic.net/Img/product/teams/illo-teams-pricing.svg?v=8afb8ac7c580);
  background-size: contain;
}
.headline-3 {
  padding-top: 84px;
  text-align: center;
}
.headline-3 h1 {
  font-size: 31px;
  color: #fff;
}
.headline-4 {
  margin-top: -23px;
  text-align: center;
}
.headline-4 h1 {
  font-size: 31px;
  color: #fff;
}
.tag-under {
  font-family: "Roboto", sans-serif;
  text-align: center;
  width: 480px;
  font-size: 21px;
  padding-left: 32%;
  color: #fff;
  padding-top: 24px;
}
.button-2 {
  display: flex;
  justify-content: center;
  margin-top: 47px;
}
#button {
  text-decoration: none;
  font-size: 14px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 4px;
  color: white;
  background-color: orangered;
  border: 1px solid orangered;
}
.box-box-2 {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 40px auto;
}
.white-box {
  height: 600px;
  width: 310px;
  background-color: #fff;
  border-radius: 5px;
}
.basic {
  height: 30px;
  padding-top: 5px;
  padding-bottom: 2px;
  width: 60px;
  text-align: center;
  border-radius: 5px;
  margin-left: 10%;
  margin-top: 8%;
  font-size: 20px;
  background-color: #e9e9e9;
}
.Business {
  height: 30px;
  padding-top: 5px;
  padding-bottom: 2px;
  width: 110px;
  text-align: center;
  border-radius: 5px;
  margin-left: 10%;
  margin-top: 8%;
  font-size: 20px;
  background-color: #2f2f2f;
  color: white;
}
.Enterprise {
  height: 30px;
  padding-top: 5px;
  padding-bottom: 2px;
  width: 110px;
  text-align: center;
  border-radius: 5px;
  margin-left: 10%;
  margin-top: 8%;
  font-size: 20px;
  background-color: darkslateblue;
  color: white;
}
.text-box {
  margin-left: 10%;
  font-size: 14px;
  margin-top: 20px;
}
.headline-box {
  margin-left: 10%;
}
.headline-box h1 {
  font-size: 34px;
  opacity: 0.9;
}
.smalltag {
  color: #858585;
  font-size: 15px;
  margin-left: 8%;
  margin-top: -23px;
}
.line-box {
  height: 1px;
  width: 80%;
  background: #e9e9e9;
  margin-left: 8%;
  margin-top: 26px;
}
.line-box-2 {
  height: 1px;
  width: 80%;
  background: #000;
  margin-left: 8%;
  margin-top: 26px;
}
.icon-text {
  display: flex;
  margin-top: 15px;
}
.icon-text i {
  margin-left: 8%;
  margin-top: 30px;
}
.icon-text p {
  margin-top: 32px;
  margin-left: 11px;
  font-size: 14px;
}
svg {
  margin-left: 8%;
}
.icon-text span {
  margin-left: 16px;
}
.button-first {
  background-color: #919191;
  height: 35px;
  width: 80%;
  border-radius: 5px;
  margin-left: 8%;
  text-align: center;
  margin-top: 50%;
  transition: 0.2s ease-in-out;
  padding-top: 13px;
}
.button-first:hover {
  background-color: #0064bd;
  color: #f7f6f9;
}
.button-second {
  background-color: #242729;
  height: 35px;
  width: 80%;
  border-radius: 5px;
  margin-left: 8%;
  text-align: center;
  margin-top: 54%;
  transition: 0.2s ease-in-out;
  padding-top: 13px;
  color: #f7f6f9;
}
.button-second:hover {
  background-color: #0064bd;
  color: #f7f6f9;
}
.button-third {
  background-color: darkslateblue;
  height: 35px;
  width: 80%;
  border-radius: 5px;
  margin-left: 8%;
  text-align: center;
  margin-top: 12%;
  transition: 0.2s ease-in-out;
  padding-top: 13px;
  color: #f7f6f9;
}
.button-third:hover {
  background-color: #0064bd;
  color: #f7f6f9;
}
.parent-div {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;
}
.down-text-2 {
  display: flex;
}
.text-down {
  color: darkgray;
  margin-left: 8px;
  width: 207px;
  margin-top: 21px;
  font-size: 15px;
  font-weight: 700;
}
.text-image {
  margin-left: 19%;
  background-image: url(https://cdn.sstatic.net/Img/product/teams/endorsements/g2.svg?v=670bf9279910);
  margin-top: 20px;
  height: 26px;
  width: 26px;
}
.text-image-2 {
  margin-left: 29%;
  background-image: url(https://cdn.sstatic.net/Img/product/teams/endorsements/g2.svg?v=670bf9279910);
  margin-top: 20px;
  height: 26px;
  width: 26px;
}
.text-image-3 {
  margin-left: 0%;
  background-image: url(https://cdn.sstatic.net/Img/product/teams/endorsements/fastco.svg?v=5ebc802a76c7);
  margin-top: 20px;
  height: 20px;
  width: 149px;
  background-size: cover;
}
.text-down:hover {
  color: #fff;
}

@media (max-width: 900px) {
  .logo img {
    display: none;
  }
  .image1 img {
    height: 50px;
    width: 50px;
    display: block;
  }
  #atag {
    display: none;
  }
  #box {
    display: none;
  }
  #firstbutton {
    margin-right: 20px;
  }
  .icon i {
    display: block;
    font-size: 26px;
    color: gray;
    margin-top: 17px;
    margin-left: 6px;
  }
  .image {
    background-image: url(https://cdn.sstatic.net/Img/home/illo-hero-small.svg?v=884735d21ea5);
  }
  .input-box {
    padding-top: 10px;
    background-color: #dedede;
    height: 44px;
  }
  .fa-placholder {
    font-family: "FontAwesome", "Source Sans Pro";
  }
  .background img {
    height: 20px;
    width: 21px;
    position: absolute;
    top: 68px;
    left: 16px;
    display: block;
  }
  #input {
    width: 84%;
    height: 27px;
    margin-left: calc(10% - 27px);
    display: block;
    padding-left: 33px;
  }
  .tagline {
    font-size: 36px;
    padding-top: 80px;
  }
  .tag {
    font-size: 21px;
    width: 95%;
    padding-left: 0;
    margin: auto;
  }
  .boxes {
    margin: 22px auto;
    width: 280px;
  }
  .boxes-2 {
    margin: 22px auto;
    width: 280px;
  }
  .boxes-3 {
    margin: 22px auto;
    width: 280px;
  }
  #section {
    display: block;
  }
  .parent-of-box {
    display: block;
  }
  .inner-box {
    width: auto;
    margin: inherit;
  }
  .tag-under {
    padding-left: 0%;
    width: auto;
  }
  .box-box-2 {
    display: block;
    width: 75%;
    margin: 8%;
  }
  .fourth-part {
    height: auto;
    margin-top: 370px;
  }
  .parent-div {
    display: block;
    width: 100%;
  }
  .text-image-3 {
    width: 174px;
    margin-left: 16%;
  }
}
